<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #95edf3;
}
</style>
</head>
<body>

<h2>FAMILIA</h2>

<table>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Parentezco</th>
    <th>Fecha Nacimiento</th>
  </tr>
  <tr>
    <td>{{familiar1.nombre}}</td>
    <td>{{familiar1.edad}}</td>
    <td>{{familiar1.parentezco}}</td>
    <td>{{familiar1.fecha_nac}}</td>
  </tr>
  <tr>
    <td>{{familiar2.nombre}}</td>
    <td>{{familiar2.edad}}</td>
    <td>{{familiar2.parentezco}}</td>
    <td>{{familiar2.fecha_nac}}</td>
  </tr>
  <tr>
    <td>{{familiar3.nombre}}</td>
    <td>{{familiar3.edad}}</td>
    <td>{{familiar3.parentezco}}</td>
    <td>{{familiar3.fecha_nac}}</td>
  </tr>
  <tr>
    <td>{{familiar4.nombre}}</td>
    <td>{{familiar4.edad}}</td>
    <td>{{familiar4.parentezco}}</td>
    <td>{{familiar4.fecha_nac}}</td>
  </tr>

</table>

</body>
</html>
